version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.11.3
    steps:
      - run: echo "hello world"
      - checkout
      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: pwd
          command: pwd
      - run:
          name: ls -la
          command: ls -la
      - run:
          name: node api start
          command: yarn run start
      - run:
          name: test exe
          command: yarn run test:unit