version: 2
jobs:
  build:
    docker:
      - image: circleci/node:11.12.0-browsers
    steps:
      - run: echo "It starts a Unit Test"
      - checkout
      - run:
          name: Install dependencies
          command: yarn install
          working_directory: /home/circleci/project/lunch-firebase/
      - run:
          name: unit test exec
          command: yarn run test:unit
          working_directory: /home/circleci/project/lunch-firebase/